.header {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;

  &__step2 {
    background-color: #333333;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
  }

  &__title{
    font-weight: bolder;
    font-size: 21px;
    color: white;
    cursor: pointer;
  }
}